<% provide :page_title, t(".mbills-title") %>
<% provide(:active_mbills, "active") %>

<div class="container-bill">
  Bills:
  <div class="card">
    <h5 class="card-header">#1 The Galaxy Home - 1 Phòng Ngủ, 55m2, View Thành Phố, Ban Công - Dịch Vọng</h5>
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-success">Paid</span></h5>
      <p class="card-text">Date: 10:00/25/5 - 12:00/26/5</p>
      <p class="card-text">Total: 800,000 vnđ</p>
      <p class="card-text"><small class="text-muted">3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">#2 Pandora Hồ Tây</h5>
    <div class="card-body">
      <h5 class="card-title"><span class="badge bg-danger">Cancel</span></h5>
      <p class="card-text">Date: 10:00/25/5 - 12:00/26/5</p>
      <p class="card-text">Total: 990,000 vnđ</p>
      <p class="card-text"><small class="text-muted">4 hours ago</small></p>
    </div>
  </div>
</div>
