<% provide(:page_title, t(".rreq-title")) %>
<% provide(:active_rreq, "active") %>

<div class="rreq-container">
  <div class="card">
    <h5 class="card-header">#1 Hong Ha</h5>
    <div class="card-body">
      <h5 class="card-title">Request title</h5>
      <p class="card-text">Request content</p>
      <p class="card-text"><small class="text-muted">3 mins ago</small></p>
      <button type="button" class="btn btn-primary">Accept</button>
      <button type="button" class="btn btn-success">View Register</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">#2 Thanh Son</h5>
    <div class="card-body">
      <h5 class="card-title">Request title</h5>
      <p class="card-text">Request content</p>
      <p class="card-text"><small class="text-muted">3 mins ago</small></p>
      <button type="button" class="btn btn-primary">Accept</button>
      <button type="button" class="btn btn-success">View Register</button>
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
