// Place all the styles related to the publisher/Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-rooms{
  margin-left: -140px;
  a{
    text-decoration: none;
  }
}
.modal-body{
  margin: 10px 20px;
}
.search-bar{
  margin-left: -140px;
  margin-bottom: 10px;
  display: flex;
  .add-room{
    margin-right: 15px;
  }
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 594px !important;
}
}
.modal_click{
  cursor: pointer;
}
.pagination{
  span{
    margin: 2px 10px;
  }
}
