// Place all the styles related to the publisher/Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-rooms{
  margin-left: -140px;
  a{
    text-decoration: none;
  }
}
.modal-body{
  margin: 10px 20px;
}
.search-bar{
  margin-left: -140px;
  margin-bottom: 10px;
  display: flex;
  .add-room{
    margin-right: 15px;
  }
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 594px !important;
}
}
.modal_click{
  cursor: pointer;
}
.pagination{
  span{
    margin: 2px 10px;
  }
}
.alert {
  margin-left: -140px;
  width: 80%;
  position: relative !important;
  padding: .75rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid transparent !important;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}
