.page-home {
  .slick-item {
    img {
      width: 100%;
      border-radius: 20px;
      height: 267px;
    }
  }

  .slick-dots {
    position: absolute;
    right: 36px;
    bottom: 10px;
    width: auto;
  }
}
.button-edit{
  border: none;
  outline: none;
}
.room-name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; width: 320px;
}
