.page-home {
  .slick-item {
    img {
      width: 100%;
      border-radius: 20px;
      height: 267px;
    }
  }

  .slick-dots {
    position: absolute;
    right: 36px;
    bottom: 10px;
    width: auto;
  }
}
.button-edit{
  border: none;
  outline: none;
}
.room-name{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden; width: 320px;
}

.layout-fixed {
  .main-sidebar {
    .info{
      a{
        color: #c2c7d0;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
      }
    }
    background-color: #343a40;
    .nav-link{
      color: #c2c7d0 !important;
    }
    .nav-link:hover {
      color: #343a40 !important;
    }
    .active {
      color: #343a40 !important;
    }
  }
}
