<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        <li class="nav-item">
          <%= link_to publisher_publisher_pages_path, class: active_for_sidebar(yield(:className)) do %>
            <i class="me-3 far fa-clock fa-fw"></i>
            <p>
              Dashboard
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_manage_publishers_path, class: active_for_sidebar(yield(:active_mp)) do %>
            <i class="fas fa-user-alt"></i>
            <p>
              Manage Publisher
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_cities_path, class: active_for_sidebar(yield(:active_city)) do %>
            <i class="fas fa-city"></i>
            <p>
              Cities
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
